.config/spotify/
.config/go/
.config/easyeffects/
.config/dconf/
.config/Code/
.config/kde.org/
.config/pulse/
.config/session/
.config/systemd/
.config/dolphinrc
.config/spicetify/Backup
.config/spicetify/CustomApps
.config/spicetify/Extensions
.config/spicetify/Extracted